<a href="https://colab.research.google.com/github/ejihoon6065/Project_TurnAround/blob/Hyundai/Price_Prediction_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code Implementation

In [4]:
import numpy as np
import pandas as pd
#!pip uninstall tensorflow
!pip install tensorflow==1.15

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

Collecting tensorflow==1.15
  Downloading https://files.pythonhosted.org/packages/3f/98/5a99af92fb911d7a88a0005ad55005f35b4c1ba8d75fba02df726cd936e6/tensorflow-1.15.0-cp36-cp36m-manylinux2010_x86_64.whl (412.3MB)
     |████████████████████████████████| 412.3MB 42kB/s
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (1.18.5)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (0.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (1.15.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (0.8.1)
Collecting gast==0.2.2
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (3.12.4)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (1.1.2)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (1.12.1)
Collecting tensorboard<1.16.0,>=1.15.0
  Downloading https://files.pythonhosted.org/packages/1e/e9/d3d747a97f7188f48aa5eda486907f3b345cd409f0a0850468ba867db246/tensorboard-1.15.0-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 49.5MB/s
Collecting keras-applications>=1.0.8
  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 5.1MB/s
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (1.1.0)
Collecting tensorflow-estimator==1.15.1
  Downloading https://files.pythonhosted.org/packages/de/62/2ee9cd74c9fa2fa450877847ba560b260f5d0fb70ee0595203082dafcc9d/tensorflow_estimator-1.15.1-py2.py3-none-any.whl (503kB)
     |████████████████████████████████| 512kB 58.1MB/s
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (1.32.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (3.3.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (0.35.1)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15) (0.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow==1.15) (50.3.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow==1.15) (3.2.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow==1.15) (1.0.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==1.15) (2.10.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow==1.15) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow==1.15) (3.1.0)
Building wheels for collected packages: gast
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-cp36-none-any.whl size=7542 sha256=e40924661df21bc8cc1ea01f80360b9e1a8be86d7a45f83d7e4cacd9eb731f91
  Stored in directory: /root/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built gast
ERROR: tensorflow-probability 0.11.0 has requirement gast>=0.3.2, but you'll have gast 0.2.2 which is incompatible.
Installing collected packages: gast, tensorboard, keras-applications, tensorflow-estimator, tensorflow
  Found existing installation: gast 0.3.3
    Uninstalling gast-0.3.3:
      Successfully uninstalled gast-0.3.3
  Found existing installation: tensorboard 2.3.0
    Uninstalling tensorboard-2.3.0:
      Successfully uninstalled tensorboard-2.3.0
  Found existing installation: tensorflow-estimator 2.3.0
    Uninstalling tensorflow-estimator-2.3.0:
      Successfully uninstalled tensorflow-estimator-2.3.0
  Found existing installation: tensorflow 2.3.0
    Uninstalling tensorflow-2.3.0:
      Successfully uninstalled tensorflow-2.3.0
Successfully installed gast-0.2.2 keras-applications-1.0.8 tensorboard-1.15.0 tensorflow-1.15.0 tensorflow-estimator-1.15.1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# path = 'embedding_files/'

max_embedding = pd.read_json('/content/drive/My Drive/max_embedding.json')
min_embedding = pd.read_json('/content/drive/My Drive/min_embedding.json')
mean_embedding = pd.read_json('/content/drive/My Drive/mean_embedding.json')
sum_embedding = pd.read_json('/content/drive/My Drive/sum_embedding.json')

djia1 = pd.read_csv('/content/drive/My Drive/Combined_News_DJIA.csv')

In [6]:
djia1

            Date  ...                                              Top25
0     2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"
1     2008-08-11  ...  b"So this is what it's come to: trading sex fo...
2     2008-08-12  ...  b"BBC NEWS | Asia-Pacific | Extinction 'by man...
3     2008-08-13  ...  b'2006: Nobel laureate Aleksander Solzhenitsyn...
4     2008-08-14  ...  b'Philippines : Peace Advocate say Muslims nee...
...          ...  ...                                                ...
1984  2016-06-27  ...  Pakistani clerics declare transgender marriage...
1985  2016-06-28  ...  Mexico's security forces routinely use 'sexual...
1986  2016-06-29  ...  Tiny New Zealand town with 'too many jobs' lau...
1987  2016-06-30  ...  Law Enforcement Sources: Gun Used in Paris Ter...
1988  2016-07-01  ...  Ozone layer hole seems to be healing - US &amp...

[1989 rows x 27 columns]

In [7]:
# !pip uninstall pandas
# !pip install pandas==1.0.4

Uninstalling pandas-1.0.5:
  Would remove:
    /usr/local/lib/python3.6/dist-packages/pandas-1.0.5.dist-info/*
    /usr/local/lib/python3.6/dist-packages/pandas/*
Proceed (y/n)? n
Collecting pandas==1.0.4
  Downloading https://files.pythonhosted.org/packages/8e/86/c14387d6813ebadb7bf61b9ad270ffff111c8b587e4d266e07de774e385e/pandas-1.0.4-cp36-cp36m-manylinux1_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 8.3MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.4) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.4) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.4) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas==1.0.4) (1.15.0)
Installing collected packages: pandas
  Found existing installation: pandas 1.0.5
    Uninstalling pandas-1.0.5:
      Successfully uninstalled pandas-1.0.5
Successfully installed pandas-1.0.4

In [9]:
#djia = djia1.loc[:, ['Date', 'Open', 'Adj Close']].sort_values('Date').set_index('Date')
djia = djia1.loc[:, ['Date']].sort_values('Date').set_index('Date')
djia

Empty DataFrame
Columns: []
Index: [2008-08-08, 2008-08-11, 2008-08-12, 2008-08-13, 2008-08-14, 2008-08-15, 2008-08-18, 2008-08-19, 2008-08-20, 2008-08-21, 2008-08-22, 2008-08-25, 2008-08-26, 2008-08-27, 2008-08-28, 2008-08-29, 2008-09-02, 2008-09-03, 2008-09-04, 2008-09-05, 2008-09-08, 2008-09-09, 2008-09-10, 2008-09-11, 2008-09-12, 2008-09-15, 2008-09-16, 2008-09-17, 2008-09-18, 2008-09-19, 2008-09-22, 2008-09-23, 2008-09-24, 2008-09-25, 2008-09-26, 2008-09-29, 2008-09-30, 2008-10-01, 2008-10-02, 2008-10-03, 2008-10-06, 2008-10-07, 2008-10-08, 2008-10-09, 2008-10-10, 2008-10-13, 2008-10-14, 2008-10-15, 2008-10-16, 2008-10-17, 2008-10-20, 2008-10-21, 2008-10-22, 2008-10-23, 2008-10-24, 2008-10-27, 2008-10-28, 2008-10-29, 2008-10-30, 2008-10-31, 2008-11-03, 2008-11-04, 2008-11-05, 2008-11-06, 2008-11-07, 2008-11-10, 2008-11-11, 2008-11-12, 2008-11-13, 2008-11-14, 2008-11-17, 2008-11-18, 2008-11-19, 2008-11-20, 2008-11-21, 2008-11-24, 2008-11-25, 2008-11-26, 2008-11-28, 2008-12-01, 2008-12-02, 2008-12-03, 2008-12-04, 2008-12-05, 2008-12-08, 2008-12-09, 2008-12-10, 2008-12-11, 2008-12-12, 2008-12-15, 2008-12-16, 2008-12-17, 2008-12-18, 2008-12-19, 2008-12-22, 2008-12-23, 2008-12-24, 2008-12-26, 2008-12-29, 2008-12-30, ...]

[1989 rows x 0 columns]

In [10]:
column_names=['Open', 'Adj Close']

djia = djia.reindex(columns = column_names)

In [11]:
djia

            Open  Adj Close
Date
2008-08-08   NaN        NaN
2008-08-11   NaN        NaN
2008-08-12   NaN        NaN
2008-08-13   NaN        NaN
2008-08-14   NaN        NaN
...          ...        ...
2016-06-27   NaN        NaN
2016-06-28   NaN        NaN
2016-06-29   NaN        NaN
2016-06-30   NaN        NaN
2016-07-01   NaN        NaN

[1989 rows x 2 columns]

I only needed Date, Open, and Adj Close columns from the djia data.

In [12]:
open_price = djia[['Open']]
adj_close_price = djia[['Adj Close']]

In [13]:
djia.head()

            Open  Adj Close
Date
2008-08-08   NaN        NaN
2008-08-11   NaN        NaN
2008-08-12   NaN        NaN
2008-08-13   NaN        NaN
2008-08-14   NaN        NaN

In [14]:
max_embedding.head(1)

                                                          Max
2008-08-08  [0.809297204, 0.5163459778, 0.3755577505, 0.59...

Since each value in the list is a feature, I redefined the dataframe by separating them into each column.

In [15]:
def transform_data(tbl):
    
    tbl = pd.DataFrame(tbl.iloc[:, 0].tolist())
    tbl = tbl.set_index(djia.index)

    return tbl

In [16]:
max_embedding = transform_data(max_embedding)

min_embedding = transform_data(min_embedding)

sum_embedding = transform_data(sum_embedding)

mean_embedding = transform_data(mean_embedding)

In [17]:
max_embedding.head(1)

                 0         1         2    ...       765       766       767
Date                                      ...
2008-08-08  0.809297  0.516346  0.375558  ...  0.883279  0.854595  0.175066

[1 rows x 768 columns]

In [18]:
max_embedding.shape, open_price.shape, adj_close_price.shape

((1989, 768), (1989, 1), (1989, 1))

I separated them into testing and training next.

In [19]:
def split_test(embedding, test_size):
    
    embedding_test = embedding.iloc[-test_size:, :]
    embedding = embedding.iloc[:-test_size, :]
    
    return embedding_test, embedding

In [20]:
test_size = 300

max_embedding_test, max_embedding = split_test(max_embedding, test_size)
min_embedding_test, min_embedding = split_test(min_embedding, test_size)
sum_embedding_test, sum_embedding = split_test(sum_embedding, test_size)
mean_embedding_test, mean_embedding = split_test(mean_embedding, test_size)

combined_embedding = pd.concat((mean_embedding, max_embedding, min_embedding, sum_embedding), axis=1)
combined_embedding_test = pd.concat((mean_embedding_test, max_embedding_test, min_embedding_test, sum_embedding_test), axis=1)

open_test, open_price = split_test(open_price, test_size)
adj_close_test, adj_close_price = split_test(adj_close_price, test_size)

In [21]:
max_embedding.shape, combined_embedding.shape, open_price.shape, adj_close_price.shape

((1689, 768), (1689, 3072), (1689, 1), (1689, 1))

<b>combined_embedding</b> is another dataset I tried to see if how using all of their features affect the open price.

So now there are total of 5 different models with different data.

## Model Definition

Finally, below is my custom data loader and model.

In [22]:
!pip install tensorflow==1.15.0rc2

def data_loader(data, batch_size, num_iter=100):
    
    # x : Embedding Values
    # y : Open Price
    # z : Close Price
    
    x = data[0]
    y = data[1]
    z = data[2]
    
    # num_iter iterations per epoch
    # mini batch
    
    for _ in range(num_iter):
    
        idx = np.random.choice(np.arange(x.shape[0]), size=batch_size, replace=False)

        batch_x = x.iloc[idx, :]
        batch_y = y.iloc[idx]
        batch_z = z.iloc[idx]
        
        yield batch_x, batch_y, batch_z


     
        
class get_model():
    
    def __init__(self, learning_rate=1e-3, dropout_rate=.5):
        
        self.learning_rate = learning_rate
        self.dropout_rate = dropout_rate
        
        # BERT Embedding
        self.x = tf.placeholder(tf.float32, shape=(None, 768))
        # Open Price
        self.y = tf.placeholder(tf.float32, shape=(None, 1))
        # Adj Close Price
        self.z = tf.placeholder(tf.float32, shape=(None, 1))

        self.pred = self.run_model()
        
        self.loss = tf.sqrt(tf.losses.mean_squared_error(self.z, self.pred), name='loss')
        
        self.optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate, name='optimizer').minimize(self.loss)
        
        self.saver = tf.train.Saver()
        
    def run_model(self):
        
        # Dense model
        layer1 = tf.contrib.layers.fully_connected(self.x, 1000)
        layer1 = tf.nn.dropout(layer1, rate=self.dropout_rate)
        layer1 = tf.layers.batch_normalization(layer1)
        
        layer2 = tf.contrib.layers.fully_connected(layer1, 500)
        layer2 = tf.nn.dropout(layer2, rate=self.dropout_rate)
        layer2 = tf.layers.batch_normalization(layer2)
        
        # This would be the value of coefficient indicating how much it impacts on a day's open price
        layer3 = tf.contrib.layers.fully_connected(layer2, 1)
        
        layer4 = layer3 * self.y
        
        layer5 = tf.contrib.layers.fully_connected(layer4, 100)
        layer5 = tf.nn.dropout(layer5, rate=self.dropout_rate)
        layer5 = tf.layers.batch_normalization(layer5)
        
        output = tf.contrib.layers.fully_connected(layer5, 1)
        
        return output

Collecting tensorflow==1.15.0rc2
  Downloading https://files.pythonhosted.org/packages/a7/bf/ee59aeef074bcecf7421380b3ed6c6880c04c059acee72cb8591beeaad91/tensorflow-1.15.0rc2-cp36-cp36m-manylinux2010_x86_64.whl (412.3MB)
     |████████████████████████████████| 412.3MB 22kB/s
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (0.8.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.32.0)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (0.2.2)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (0.35.1)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (0.2.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.15.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.12.1)
Requirement already satisfied: tensorflow-estimator==1.15.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.15.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (3.3.0)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (3.12.4)
Requirement already satisfied: tensorboard<1.16.0,>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.15.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (0.10.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.0.8)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.1.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.18.5)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.15.0rc2) (1.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow==1.15.0rc2) (50.3.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow==1.15.0rc2) (3.2.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow==1.15.0rc2) (1.0.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==1.15.0rc2) (2.10.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow==1.15.0rc2) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow==1.15.0rc2) (3.1.0)
Installing collected packages: tensorflow
  Found existing installation: tensorflow 1.15.0
    Uninstalling tensorflow-1.15.0:
      Successfully uninstalled tensorflow-1.15.0
Successfully installed tensorflow-1.15.0rc2

From first to third layer is to extract the value that indicates how much given articles affect the same day's open price.

<b>get_data</b> below concatenates embedding with open price and split them into training and validation sets.

In [23]:
def get_data(embedding):
    
    X = pd.concat((embedding, open_price), axis=1)
    
    X_train, X_valid, y_train, y_valid = train_test_split(X, adj_close_price, test_size=.2)
    
    return [X_train.iloc[:, :-1], X_train.iloc[:, -1:], y_train], [X_valid.iloc[:, :-1], X_valid.iloc[:, -1:], y_valid]

In [24]:
mean_data_train, mean_data_valid = get_data(mean_embedding)
max_data_train, max_data_valid = get_data(max_embedding)
min_data_train, min_data_valid = get_data(min_embedding)
sum_data_train, sum_data_valid = get_data(sum_embedding)

combined_data_train, combined_data_valid = get_data(combined_embedding)

### Train

In [25]:
data_name = {'mean_embedding':[mean_data_train, mean_data_valid],
            'max_embedding':[max_data_train, max_data_valid],
            'min_embedding':[min_data_train, min_data_valid],
            'sum_embedding':[sum_data_train, sum_data_valid]}






def train_model(embedding_name, learning_rate=1e-5, epochs=300, batch_size=16, dropout_rate=.5, load_params=True,
               verbose=True, save_model=True):
    
    data_train, data_valid = data_name[embedding_name]
    
    #tf.reset_default_graph()

    model = get_model(learning_rate=learning_rate, dropout_rate=dropout_rate)

    # For plots
    train_losses = []
    valid_losses = []

    
    with tf.Session() as sess:

        sess.run(tf.global_variables_initializer())

        if load_params:
        # Load Model
            try:
                print(f'------------- Attempting to Load {embedding_name} Model -------------')
                model.saver.restore(sess, f'./model/{embedding_name}_model.ckpt')
                print(f'------------- {embedding_name} Model Loaded -------------')
            except:
                print('Training New Model')
        else:
            print('Training New Model')

        # Train Model
        print('\n------------- Training Model -------------\n')
        for epoch in range(epochs):

            for x, y, z in data_loader(data_train, batch_size=batch_size):

                train_loss, _ = sess.run([model.loss, model.optimizer], feed_dict={model.x:x, 
                                                                             model.y:y, 
                                                                             model.z:z})

            # x : embedding, y : open price, z : close price
            valid_loss = sess.run(model.loss, feed_dict={model.x:data_valid[0], 
                                                         model.y:data_valid[1], 
                                                         model.z:data_valid[2]})

            # print losses
            if verbose:
                print(f'Epoch {epoch+1}/{epochs},  Train RMSE Loss {train_loss}, Valid RMSE Loss {valid_loss}')

                
                
            # Save Model at every 20 epochs
            if save_model:
                
                if (epoch+1) % 20 == 0 and epoch > 0:
                    if not os.path.exists('./model'):
                        os.mkdir('./model/')

                    model.saver.save(sess, f"./model/{embedding_name}_model.ckpt")
                    print('\n------------- Model Saved -------------\n')
                
            train_losses.append(train_loss)
            valid_losses.append(valid_loss)

            
    return model, train_losses, valid_losses

In [27]:
pip install --user --upgrade tensorflow-probability

Requirement already up-to-date: tensorflow-probability in /usr/local/lib/python3.6/dist-packages (0.11.0)
Collecting gast>=0.3.2
  Downloading https://files.pythonhosted.org/packages/b6/48/583c032b79ae5b3daa02225a675aeb673e58d2cb698e78510feceb11958c/gast-0.4.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: dm-tree in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability) (0.1.5)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability) (4.4.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability) (1.18.5)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability) (1.15.0)
Requirement already satisfied, skipping upgrade: cloudpickle==1.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability) (1.3.0)
ERROR: tensorflow 1.15.0rc2 has requirement gast==0.2.2, but you'll have gast 0.4.0 which is incompatible.
Installing collected packages: gast
Successfully installed gast-0.4.0

In [30]:
#!pip uninstall keras
import tensorflow.keras as keras
import tensorflow as tf

In [32]:
# Possible Names : mean_embedding, max_embedding, min_embedding, sum_embedding
epochs = 300
learning_rate = 1e-4
import os

mean_model, mean_train_loss, mean_valid_loss = train_model('mean_embedding', epochs=epochs, learning_rate=learning_rate, load_params=False, verbose=False)
max_model, max_train_loss, max_valid_loss = train_model('max_embedding', epochs=epochs, learning_rate=learning_rate, load_params=False, verbose=False)
min_model, min_train_loss, min_valid_loss = train_model('min_embedding', epochs=epochs, learning_rate=learning_rate, load_params=False, verbose=False)
sum_model, sum_train_loss, sum_valid_loss = train_model('sum_embedding', epochs=epochs, learning_rate=learning_rate, load_params=False, verbose=False)

Training New Model

------------- Training Model -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------

Training New Model

------------- Training Model -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------

Training New Model

------------- Training Model -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------

Training New Model

------------- Training Model -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------


------------- Model Saved -------------

Running four models took about 25 minutes on surface pro 4.

## New Model for Combined Dataset

Since the combined_embedding is in different shape, I created a new model.

In [33]:
class combined_model():
    
    def __init__(self, learning_rate=1e-3, dropout_rate=.5):
        
        self.learning_rate = learning_rate
        self.dropout_rate = dropout_rate
        
        # BERT Embedding
        self.x = tf.placeholder(tf.float32, shape=(None, 3072))
        # Open Price
        self.y = tf.placeholder(tf.float32, shape=(None, 1))
        # Adj Close Price
        self.z = tf.placeholder(tf.float32, shape=(None, 1))

        self.pred = self.run_model()
        
        self.loss = tf.sqrt(tf.losses.mean_squared_error(self.z, self.pred), name='loss')
        
        self.optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate, name='optimizer').minimize(self.loss)
        
        self.saver = tf.train.Saver()
        
    def run_model(self):
        
        # Dense layers
        layer1 = tf.contrib.layers.fully_connected(self.x, 1000)
        layer1 = tf.nn.dropout(layer1, rate=self.dropout_rate)
        layer1 = tf.layers.batch_normalization(layer1)
        
        layer2 = tf.contrib.layers.fully_connected(layer1, 500)
        layer2 = tf.nn.dropout(layer2, rate=self.dropout_rate)
        layer2 = tf.layers.batch_normalization(layer2)
        
        # Coefficient of impact values
        layer3 = tf.contrib.layers.fully_connected(layer2, 1)
        
        layer4 = layer3 * self.y
        
        layer5 = tf.contrib.layers.fully_connected(layer4, 100)
        layer5 = tf.nn.dropout(layer5, rate=self.dropout_rate)
        layer5 = tf.layers.batch_normalization(layer5)
        
        output = tf.contrib.layers.fully_connected(layer5, 1)
        
        return output

combined model took about 4 minutes on surface pro 4.

In [34]:
tf.reset_default_graph()

model = combined_model(learning_rate=1e-4, dropout_rate=.5)
epochs = 300

combined_train_losses = []
combined_valid_losses = []

with tf.Session() as sess:

    sess.run(tf.global_variables_initializer())

    try:
        print(f'------------- Attempting to Load Combined Model -------------')
        model.saver.restore(sess, f'./model/combined_model.ckpt')
        print(f'------------- Combined Model Loaded -------------')
        
    except:
        print('Training New Model')

    # Train Model
    print('\n------------- Training Model -------------\n')
    for epoch in range(epochs):

        for x, y, z in data_loader(combined_data_train, batch_size=16):

            train_loss, _ = sess.run([model.loss, model.optimizer], feed_dict={model.x:x, 
                                                                         model.y:y, 
                                                                         model.z:z})

        valid_loss = sess.run(model.loss, feed_dict={model.x:combined_data_valid[0], 
                                                     model.y:combined_data_valid[1], 
                                                     model.z:combined_data_valid[2]})

        if epoch % 20 == 0:
            
            print(f'Epoch {epoch+1}/{epochs},  Combined Train RMSE Loss {train_loss}, Combined Valid RMSE Loss {valid_loss}')

            if not os.path.exists('./model'):
                os.mkdir('./model/')

            model.saver.save(sess, f"./model/combined_model.ckpt")
            print('\n------------- Model Saved -------------\n')

        combined_train_losses.append(train_loss)
        combined_valid_losses.append(valid_loss)

------------- Attempting to Load Combined Model -------------
Training New Model

------------- Training Model -------------

Epoch 1/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 21/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 41/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 61/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 81/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 101/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 121/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 141/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 161/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 181/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 201/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 221/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 241/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 261/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

Epoch 281/300,  Combined Train RMSE Loss nan, Combined Valid RMSE Loss nan

------------- Model Saved -------------

## Losses of each model

Here are the results of loss plots

![Four Models' Losses](plots/4_losses.png)
![Combined Loss](plots/combined_loss.png)

### Predict

Now let's predict.

In [35]:
embedding_data = {'mean_embedding':mean_embedding_test,
                 'max_embedding':max_embedding_test,
                 'min_embedding':min_embedding_test,
                 'sum_embedding':sum_embedding_test}

def predict_model(embedding_name):
    
    tf.reset_default_graph()
    
    data = embedding_data[embedding_name]

    model = get_model(learning_rate=1e-5)

    with tf.Session() as sess:

        sess.run(tf.global_variables_initializer())

    #     Load Model
        try:
            print(f'------------- Attempting to Load {embedding_name} Model -------------')
            model.saver.restore(sess, f'./model/{embedding_name}_model.ckpt')
            print('------------- Model Loaded -------------')

        except:
            pass


        pred = sess.run(model.pred, feed_dict={model.x:data, 
                                                    model.y:open_test})
        
    return model, pred

In [36]:
mean_model, mean_pred = predict_model('mean_embedding')
max_model, max_pred = predict_model('max_embedding')
sum_model, sum_pred = predict_model('sum_embedding')
min_model, min_pred = predict_model('min_embedding')

------------- Attempting to Load mean_embedding Model -------------
INFO:tensorflow:Restoring parameters from ./model/mean_embedding_model.ckpt
------------- Model Loaded -------------
------------- Attempting to Load max_embedding Model -------------
INFO:tensorflow:Restoring parameters from ./model/max_embedding_model.ckpt
------------- Model Loaded -------------
------------- Attempting to Load sum_embedding Model -------------
INFO:tensorflow:Restoring parameters from ./model/sum_embedding_model.ckpt
------------- Model Loaded -------------
------------- Attempting to Load min_embedding Model -------------
INFO:tensorflow:Restoring parameters from ./model/min_embedding_model.ckpt
------------- Model Loaded -------------

In [37]:
tf.reset_default_graph()

model = combined_model(learning_rate=1e-5)

with tf.Session() as sess:

    sess.run(tf.global_variables_initializer())

#     Load Model
    try:
        print(f'------------- Attempting to Load Combined Model -------------')
        model.saver.restore(sess, f'./model/combined_model.ckpt')
        print('------------- Model Loaded -------------')

    except:
        pass


    combined_pred = sess.run(model.pred, feed_dict={model.x:combined_embedding_test, 
                                                model.y:open_test})

------------- Attempting to Load Combined Model -------------
INFO:tensorflow:Restoring parameters from ./model/combined_model.ckpt
------------- Model Loaded -------------

In [38]:
mean_pred = mean_pred.flatten()
max_pred = max_pred.flatten()
min_pred = min_pred.flatten()
sum_pred = sum_pred.flatten()

combined_pred = combined_pred.flatten()

**![Four Models' Predictions](plots/4_predictions.png)
![Combined Prediction](plots/combined_prediction.png)

# Conclusion

We can see that the predicted values have high variance and predicted values fluctuate much. However, the models still were able to capture general trend of the prices. As it is impossible to predict something with 100%, models like above are only used as a general guide.

One way to improve a model is to set a threshold which it limits how much the price can change over a day. For example, we can set it to 10,000 that it won't change above the amount.

Also, the news I used may not (or most likely not) be related to DJIA. Using news that are closely related to it can also improve performance.

Thank you for reading the post and if there is any mistake I made, please let me know!